@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(https://fonts.googleapis.com/css?family=Kanit&subset=latin,thai);
body {
  font-family: "Raleway";
  color: #474747;
}

a {
  text-decoration: none;
  color: #EC5252;
}

a:hover {
  color: #262840;
}

.title-text {
  color: #fff;
}

.subtitle-text {
  font-family: "Kanit";
  font-weight: normal;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

.flashwrapper:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #262840;
}

.backdrop {
  background-color: #fff;
}

.backdrop:first-child {
  margin-top: 52px;
}

.container {
  width: 100%;
  padding: 8px;
}

header,
.main-nav {
  background-color: #EC5252;
  text-align: center;
  color: #fff;
}

header {
  padding: 8px;
}

header .title-text {
  margin: 1.5em 0 0;
  font-size: 1.5em;
}

header .subtitle-text {
  margin: 0.5em 0 0;
}

.main-nav {
  z-index: 99;
  margin-bottom: -52px;
}

.main-nav.-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-nav .menubar {
  height: 52px;
  padding-top: 6px;
}

.main-nav .menubar .circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 9px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
}

.main-nav .menubar .circle img {
  width: 100%;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  display: none;
  -moz-transition: 0.3sec;
  -o-transition: 0.3sec;
  -webkit-transition: 0.3sec;
  transition: 0.3sec;
}

.main-nav > ul > li {
  display: block;
  position: relative;
  text-align: center;
}

.main-nav > ul > li > a {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.article {
  padding: 0 8px 16px;
}

.article h1 {
  color: #EC5252;
}

.article.-transparent {
  color: #fff;
}

.article.-transparent h1 {
  color: #fff;
}

#about .profile-picture {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#about p {
  line-height: 1.5;
}

#experience {
  clear: both;
}

#experience .timeline {
  padding-left: 16px;
  list-style: none;
}

#experience .timeline > li {
  border-left: 1px solid #c7c7c7;
  padding: 16px;
}

#experience .timeline > li:hover .-title:before {
  background-color: #262840;
}

#experience .timeline .-title {
  position: relative;
  margin-bottom: 0;
}

#experience .timeline .-title:before {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  left: -21px;
  top: 7px;
  background-color: #EC5252;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#experience .timeline .-date {
  margin-top: 0.2em;
  font-style: italic;
}

.flashwrapper {
  margin: -8px;
}

.flashwrapper a {
  text-decoration: none;
}

.cardwrapper {
  padding: 8px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.flashcard {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #474747;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.flashcard .card-photo {
  width: 100%;
}

.flashcard .card-title {
  padding: 0 16px;
  margin-top: 0.5em;
  font-size: 1em;
}

#contact th,
#contact td {
  padding: 0.5em;
}

#contact th {
  text-align: left;
  width: 5em;
  vertical-align: top;
}

footer {
  height: 50px;
  background-color: #EC5252;
  padding: 16px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 480px) {
  #about .profile-picture {
    float: left;
    margin: 0 8px 8px 0;
  }
  .cardwrapper {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 660px) {
  header .title-text {
    font-size: 2em;
  }
  .main-nav .-selected {
    color: #fff;
  }
  .main-nav .menubar {
    display: none;
  }
  .main-nav > ul {
    display: block;
  }
  .main-nav > ul > li {
    display: inline-block;
  }
  .main-nav > ul > li:after {
    content: "";
    display: block;
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 7px;
    background-color: #fff;
    transform: scaleX(0.0001);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-nav > ul > li:hover:after {
    transform: scaleX(1);
  }
  .main-nav > ul > li:hover > a {
    color: #fff;
  }
  .main-nav > ul > li > a {
    display: block;
    width: 100px;
    color: #9C3E3E;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .article {
    padding-bottom: 48px;
  }
  .-divided {
    float: left;
    width: 50%;
  }
  #experience .timeline {
    padding-left: 60px;
  }
  #experience .timeline > li {
    padding-left: 40px;
  }
  #experience .timeline .-title:before {
    left: -46px;
  }
  .cardwrapper {
    float: left;
    width: 33.333%;
  }
}
