@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(https://fonts.googleapis.com/css?family=Kanit&subset=latin,thai);

body {
	font-family: "Raleway";
	color: $black;
}

.title-text {
	color: $white;
}

.subtitle-text {
	font-family: "Kanit";
	font-weight: normal;
}

h1 {
	font-size: 1.6em;
}

h2 { font-size: 1.2em; }