* {
	box-sizing: border-box;
}

body {
	background-color: $midnight-blue;
}

.backdrop {
	background-color: $white;
	&:first-child {
		margin-top: $menubar-height;
	}
}

// container
.container {
	width: 100%;
	padding: $half-gutter;
}

// header
header,
.main-nav {
	background-color: $salmon-red;
	text-align: center;
	color: $white;
}

header {
	padding: $half-gutter;

	.title-text {
		margin: 1.5em 0 0;
		font-size: 1.5em;
	}
	.subtitle-text {
		margin: 0.5em 0 0;
	}
}

// nav bar 
.main-nav {
	z-index: 99;
	margin-bottom: -$menubar-height;

	&.-scrolled {
		position: fixed;
		width: 100%;
		top: 0;
	}
	.menubar {
		height: $menubar-height;
		padding-top: 6px;

		.circle {
			display: inline-block;
			width: 35px;
			height: 35px;
			padding: 9px;
			margin: 0 auto;

			background-color: $white;
			
			border-radius: 50%;

			img {
				width: 100%;
			}
		}
	}
	& > ul {
		margin: 0;
		padding: 0;
		display: none;


		@include transition (0.3sec);
			
		> li {
			display: block;
			position: relative;
			text-align: center;
			
			> a {
				display: inline-block;
				padding: 1em;
				
				font-weight: bold;
				text-decoration: none;

				color: $white;
			}
		}
	}
}

// article
.article {
	padding: 0 $half-gutter $gutter;

	h1 {
		color: $salmon-red;
	}

	&.-transparent {
		color: $white;

		h1 {
			color: $white;
		}
	}
}

#about {
	.profile-picture {
		width: 120px;
		border-radius: 50%;

		display: block;
		margin: 0 auto;
	}

	p {
		line-height: 1.5;
	}
}

// exp
#experience {
	clear: both;

	.timeline {
		padding-left: $gutter;
		list-style: none;

		> li {
			border-left: 1px solid lighten($black, 50%);
			padding: $gutter;
		}
		> li:hover .-title:before {
			background-color: $midnight-blue;
		}
		.-title {
			position: relative;
			margin-bottom: 0;

			&:before {
				content: "";
				display: block;
				height: 10px;
				width: 10px;

				position: absolute;
				left: -($gutter + 5px);
				top: 7px;

				background-color: $salmon-red;

				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%; 

				@include transition(0.2s);
			}
		}
		.-date {
			margin-top: 0.2em;

			font-style: italic;
		}
	}
}

//flashcard
.flashwrapper {
	margin: 0 -$half-gutter;

	// &:hover .cardwrapper:not(:hover) {
	// 	filter: brightness(30%);
	// }
	a {
		text-decoration: none;
	}
	@extend %clearfix;
}

.cardwrapper {
	padding: $half-gutter;

	@include transition(0.2s);
}

.flashcard {
	width: 100%;
	overflow: hidden;

	background-color: $white;

	color: $black;

	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

	.card-photo {
		width: 100%;
	}
	.card-title {
		padding: 0 $gutter;
		margin-top: 0.5em;

		font-size: 1em;
		//font-weight: normal;
	}
}

// contact
#contact {
	th,
	td {
		padding: 0.5em;
	}

	th {
		text-align: left;
		width: 5em;
		vertical-align: top;
	}
}

// footer
footer {
	height: 50px;
	background-color: $salmon-red;
	padding: $gutter;
	
	text-align: center;
	color: $white;
}