@media screen and (min-width: 480px) {
	#about {
		.profile-picture {
			float: left;
			margin: 0 $half-gutter $half-gutter 0;
		}
	}

	// flashcard
	.cardwrapper {
		float: left;
		width: 50%;
	}
}

@media screen and (min-width: 660px) {
	header {
		.title-text {
			font-size: 2em;
		}
	}

	// nav bar
	.main-nav {
		.-selected {
			color: $white;
		}
		.menubar {
			display: none;
		}
		& > ul {
			display: block;

			> li {
				display: inline-block;
				
				&:after {
					content: "";
					display: block;
					height: 1.5px;
					width: 100%;

					position: absolute;
					bottom: 7px;

					background-color: #fff;
					
					transform: scaleX(0.0001);
					@include transition(0.3s);
				}
				&:hover{
					&:after {
						transform: scaleX(1);
					}

					> a {
						color: $white;
					}
				}
				> a {
					display: block;
					width: 100px;

					color: $dark-red;

					@include transition(0.3s);
				}
			}
		}
	}
	.container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}

	.article {
		padding-bottom: $gutter*3;
	}

	.-divided {
		float: left;
		width: 50%;
	}

	#experience {
		.timeline {
			padding-left: 60px;

			> li {
				padding-left: 40px;
			}
			.-title:before {
				left: -($gutter + 30px);
			}
		}
	}

	// flashcard
	.cardwrapper {
		float: left;
		width: 33.333%;
	}
}